<div class="row no-gutters m-3">
  <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto">
    <div class="card-header text-center">
    </div>
    <div class="card-body text-center">
      <p>Your Quote is in!:</p>
      <h2>Your monthly cost is: @string.Format("{0:C2}", Model)</h2>
      <p>Thank You!</p>
    </div>
  </div>
</div>